:root {
  --height: 445px;
}

body {
  background-color: hsl(233, 47%, 7%);
}

h1 {
  color: white;
  font-family: 'Lexend Deca', sans-serif;
  font-weight: 700;
}

h2 {
  font-family: 'Lexend Deca', sans-serif;
  font-weight: 400;
  color: white;
  font-size: 1.5rem;
}

h3 {
  color: hsla(0, 0%, 100%, 0.6);
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 0.8rem;
}

p {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  color: hsla(0, 0%, 100%, 0.75);
  margin: 20px auto;
}

.mobile-img {
  display: none;
}

.container-fluid {
  margin: 200px auto;
  padding: 10px;
  width: 1050px;
}

.text-panel {
  background-color: hsl(244, 38%, 16%);
  border-radius: 15px 0 0 15px;
  height: var(--height);
  padding: 50px 60px 50px 50px;
}

.picture-panel {
  height: var(--height);
  border-radius: 0 15px 15px 0;
  background-image: url(../images/image-header-desktop.jpg);
  background-color: hsl(277, 64%, 61%);
  background-blend-mode: multiply;
}

.insights {
  color: hsl(277, 64%, 61%);
}

.analytics {
  margin: 75px auto 40px auto;
}

@media only screen and (max-width: 992px) {
  .container-fluid {
    width: 400px;
    margin: 50px auto;
    padding: 0;
  }

  .text-panel {
    border-radius: 0 0 15px 15px;
  }

  .picture-panel {
    display: none;
  }

  .mobile-img {
    display: block;
    height: 300px;
    width: 430px;
    position: relative;
    left: -12px;
    border-radius: 15px 15px 0 0;
    background-image: url(../images/image-header-mobile.jpg);
    background-color: hsl(277, 64%, 61%);
    background-blend-mode: multiply;
  }

  .text-panel {
    height: auto;
  }

  .analytics {
    text-align: center;
  }
}
